* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

.section1 {
    background: #1F2937;
    display:flex;
    flex-flow: column wrap;
    flex: 1;
}

.hero .h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    display: flex;
}

.herotext {
    display: flex;
    flex-flow: column wrap;
    margin-bottom: 100px;
    flex-basis: 500px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.image1 {
    display: flex;
    height: 300px;
    margin-bottom: 150px;
}

.header {
    margin: 30px;
}

.header li {
    list-style-type: none;
}

.sect1-subtext {
    color: #E5E7EB;
    font-size: 18px;
}

.header .logo {
    color: #F9FAF8;
    font-size: 24px;
    display: flex;
    justify-content: flex-start;
    flex-basis: 100px;
}

.toplinks {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

ul {
    display: flex;
    gap: 20px;
}

.hero {
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 200px;
}

button {
    margin-top: 10px;
    padding: 10px;
    width: 200px;
    background-color: #3882F6;
}

.section2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

img {
    width: 40vh;
    height: 40vh;
    border: solid;
    border-color: #3882F6;
}

.images {
    display: flex;
    flex-flow: row wrap;
    flex: 1, 1, auto;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 100px;
    margin: 50px;
}

p {
    text-align: center;
}

.section2 .header {
    margin-top: 70px;
    margin-bottom: none;
}